# Kata 9 Funciones

##### Programa 1

In [3]:
def combustible(tanque1, tanque2, tanque3):
    average= (tanque1+tanque2+tanque3) / 3
    return f''' Reporte de combustible:
    promedio: {average}%
    tanque 1: {tanque1}%
    tanque 2: {tanque2}%
    tanque 3: {tanque3}%
    '''
print( combustible(10, 20, 30))

 Reporte de combustible:
    promedio: 20.0%
    tanque 1: 10%
    tanque 2: 20%
    tanque 3: 30%

In [5]:
def combustible(tanque1, tanque2, tanque3):
    average= cal_average(tanque1,tanque2, tanque3)
    return f''' Reporte de combustible:
    promedio: {average}%
    tanque 1: {tanque1}%
    tanque 2: {tanque2}%
    tanque 3: {tanque3}%
    '''
def cal_average(tanque1, tanque2, tanque3):
    average= (tanque1+tanque2+tanque3) / 3
    return average
print( combustible(10, 20, 30))

 Reporte de combustible:
    promedio: 20.0%
    tanque 1: 10%
    tanque 2: 20%
    tanque 3: 30%

##### Programa 2

In [6]:
def reporteDeDespegue(tiempo, duracion,destino, tanque1, tanque2):
    return f'''
    La misión se dirige a: {destino}
    Tiempo total de vuelo:{tiempo+duracion}
    Total de combustible: {tanque1+tanque2}'''

print(reporteDeDespegue(23,12,"luna",23,33))

    La misión se dirige a: luna
    Tiempo total de vuelo:35
    Total de combustible: 56

In [7]:
def reporteDeDespegue(destino, *minutos, **tanques):
    return f'''
    La misión se dirige a: {destino}
    Tiempo total de vuelo:{sum(minutos)}
    Total de combustible: {sum(tanques.values())}'''

print(reporteDeDespegue("luna",23,33,12, tanque1=400, tanque2=210))

    La misión se dirige a: luna
    Tiempo total de vuelo:68
    Total de combustible: 610

In [10]:
def reporteDeDespegue(destino, *minutos, **tanques):
    reporte= f'''
    La misión se dirige a: {destino}
    Tiempo total de vuelo:{sum(minutos)}
    Total de combustible: {sum(tanques.values())}
    '''
    for nombre_tanque, litros_tanque in tanques.items():
        reporte+= f"{nombre_tanque} tiene {litros_tanque}\n"
    return reporte

print(reporteDeDespegue("luna",23,33,12, tanque1=400, tanque2=210))

    La misión se dirige a: luna
    Tiempo total de vuelo:68
    Total de combustible: 610
    tanque1 tiene 400
tanque2 tiene 210